
@{
    Layout = null;
}
<div class="page-header" style="background-color:red; text-align:left;font-size:35px;height:80px;">
    <div>Welcome to Admin Page  
        <div align="right">@Html.ActionLink("Checking User", "Userdetails")</div> </div>
    <div class="page-header" style="background-color:red; text-align:left;font-size:35px;height:50px;">
 </div>
</div>
<img src="https://i0.wp.com/www.studentprojects.live/wp-content/uploads/2021/05/Online-Blood-Bank.jpg?fit=1440%2C500&ssl=1" height="600" width="100%" />
<br />
<div style="background-image:url(//encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS8ebgkw3IL8sifOGL2mJSPe9BT9aHC1cE43Q&usqp=CAU);
background-repeat:no-repeat;background-size:cover;height:290px;"/>

<h1 style="text-align:center;color:azure;">Facts about Blood</h1>
<div>
    <ul style="font-size:27px;color:antiquewhite;">

        <li>One unit of donated blood can save up to three lives.</li>
        <li>You can donate blood every three months. It only takes 48 hours for your body fluids to be completely replenished.</li>
        <li> Scientists have estimated the volume of blood in the human body to be eight percent of body weight.</li>
        <li>There are 100,000 miles of blood vessels in an adult human body.</li>
        <li>A red blood cell can make a complete circuit of your body in 30 seconds.</li>
        <li>White blood cells make up about 1% of your blood.</li>
    </ul>

</div>
<footer>
    <div class="foot-con d-flex flex-wrap justify-content-center" style="width: 100vw;margin-top:50px;">
        <div class="row clearfix p-lg-4 justify-content-around" style="background-color: black; color: whitesmoke; display: flex;gap:200px;">
            <div class="col-md-3 col-sm-12 col-xs-12 text-center wow bounceInLeft animated" style="visibility: visible; margin-bottom: 20px;">
                <h3 class="text-left">Looking for Blood</h3>
                <ul style="line-height: 165%">
                    <li>Blood Availability</li>
                    <li>Blood Bank Directory</li>
                    <li>Thalassemia Request</li>
                </ul>
                <img src="https://cdn-icons-png.flaticon.com/128/10892/10892869.png" />
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 text-center wow bounceInLeft animated" style="visibility: visible; margin-bottom: 20px;">
                <h3 class="text-left">Want to Donate Blood</h3>
                <ul style="line-height: 165%">
                    <li>Blood Donation Camps</li>
                    <li>Appointment for Blood Bank</li>
                    <li>Donor Login</li>
                    <li style="display: none;">Voluntary Donor Group</li>
                    <li>About Blood Donation</li>
                    <li>Register VBD Camp</li>
                </ul>
                <img src="https://cdn-icons-png.flaticon.com/128/3304/3304622.png" />
            </div>

            <div class="col-md-3 col-sm-12 col-xs-12 text-center wow bounceInLeft animated" style="visibility: visible; margin-bottom: 20px;">
                <h3 class="text-left">Blood Bank Login</h3>
                <ul style="line-height: 165%">
                    <li>Login</li>
                    <li>Add your Blood Bank</li>
                </ul>
                <img src="https://cdn-icons-png.flaticon.com/128/2069/2069788.png" />
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12 text-center wow bounceInLeft animated" style="visibility: visible; margin-bottom: 20px;">
                <h3 class="text-left">About Us</h3>
                <ul style="line-height: 165%">
                    <li>About website</li>
                    <li>Notifications</li>
                    <li>Gallery</li>
                    <li>Video Gallery</li>
                    <li>Contact Us</li>
                    <li>Mobile Apps</li>
                </ul>
                <img src="https://cdn-icons-png.flaticon.com/128/1056/1056501.png" />
            </div>
        </div>
        <div class="text-center" style="margin-top: 20px;text-align:center;">
            <a href="#">Terms and Conditions | Privacy Policy | Accessibility Statement</a>
            LastUpdated=@DateTime.Now.Year
        </div>
    </div>
    <div class="text-center" style="margin-top: 20px; text-align:center;">
        &copy; @DateTime.Now.Year blood bank application
    </div>
</footer>

