@{
    ViewBag.Title = "Contact";
}
<main>
    <div class="page-header" style="background-color:aliceblue; text-align:center;font-size:25px">Contact Details</div>

    <div class="m-4">
        <address>
            <h5>Bloodbank related queries</h5>
            Center For Development of Advanced Computing<br />
            C-56/1, Anusandhan Bhawan , Sector-62, Noida, Uttar Pardesh-201307<br />
            9650816031, 8447358448<br /><br />

            <h5>For Administrative queries</h5>
            Blood Cell, National Health Mission<br />
            Ministry of Health & Family Welfare, New Delhi-110011<br /><br />

            <h5>Feedback and Suggestions</h5>
            Blood Cell, National Health Mission<br />
            Ministry of Health & Family Welfare,New Delhi - 110011<br />
        </address>
    </div>
    <div class="m-4">
        <address>
            <strong>Emergency:</strong>   <a href="mailto:Emergency@example.com">Emergency@example.com</a><br /><br />
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br /><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>
</main>