@{
    ViewBag.Title = "Home Page";
}

<main>
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0" class="active" aria-current="true"
                    aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://wallpapercave.com/wp/wp7897996.jpg" class="d-block w-100" alt="..."
                     height="650px">
            </div>
            <div class="carousel-item">
                <img src="/image/img3.jpeg" class="d-block w-100" alt="..."
                     height="650px">
            </div>
            <div class="carousel-item">
                <img src="https://static.vecteezy.com/system/resources/previews/007/011/575/original/world-blood-donor-day-poster-donor-blood-concept-illustration-background-for-world-blood-donor-day-free-vector.jpg" class="d-block w-100" alt="..."
                     height="650px">
            </div>
            <div class="carousel-item">
                <img src="https://media.gettyimages.com/id/482145647/photo/pouches-of-donated-blood-in-hospital.jpg?s=612x612&w=0&k=20&c=G_WrdEuQYXQGvoyIV83njZmCk4beGrJ8v7ChTWurJBk=" class="d-block w-100" alt="..."
                     height="650px">
            </div>
            <div class="carousel-item">
                <img src="/image/img5.jpeg" class="d-block w-100" alt="..."
                     height="650px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button"
                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="visually-hidden">Next</span>
        </button>
    </div>
    <h2 style="text-align:center;">What is the Blood Bank ?</h2>
    <p style="font-size:20px;color:brown;" class="p-4 m-2">
        <b>
            As a sector, we are used to deposits, savings and lending; The Blood Bank is taking those concepts and turning them into a nationwide effort to get more people informed
            about blood donation and, ultimately, increase the giving thereof. By lending our time and making a different kind of deposit, the financial services market will save lives.
    </p></b>
    <p style="font-size:20px;color:brown;" class="p-4 m-2">
        <b>
            The Blood Bank was created to serve as a platform to educate and encourage those who can to donate. The bank’s website acts as a central portal, providing
            information about what giving blood entails and tracking the number of people in the financial services industry who register to become donors and eventually donate.</p></b>
</main>